.app--main {
  text-align: center;
  background-color:rgb(217, 212, 210);
  position:relative;
  margin:0px;
  /*change with correct rgb from template*/
}

.app--logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app--logo {
    animation: app--logo-spin infinite 20s linear;
  }
}

.app--header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Comfortaa';
  color: white;
}

@keyframes app--logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.view-container {
    overflow: scroll;
    position:relative;
    background-color:transparent;
}


.page-layout--container{
  background-color: rgb(217, 212, 210);
  height:100%;
  width:100%;
  object-fit: contain;
  display:flex
  /*change to inherit from correct main color above*/
}

.app--book--container{
  width:100%;
  position:relative;
  display:flex;
  margin:2px;
  background-color: lightblue;
    font-family: 'Comfortaa';
}
